//colors

$color-primary:#4d05e8;
$color-primary-black:#010816;

$color-grey-dark: #777;
$color-grey-light:#e7e7e7;

$color-white: #fff;

$color-black: #000;
//FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 100%;
$gutter-vertical:8rem;
$gutter-horizontal: 6rem;

$view_port_right: 75vw;
$view_port_left: 20vw;

//padding

$padding-default: 0 1% 1% 0;