.own-card{
    border: .5px solid $color-grey-light;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 .5rem 2rem rgba($color-black, .2);
    transition: all .2s;

    &:hover{
        transform: translateY(-1rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
    }

    &__text{
        font-weight: 300;
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    &__title{
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}