*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing:border-box;
}

.animated{
    transition: animation .7s;

    &-left{
        animation: moveInLeft .5s ease-in;
    }

    &-right{
        animation: moveInRight .5s ease-in;
    }

    &-out{
        animation: moveOut .5s ease-in .75s;
    }

    &-in{
        animation: moveIn .5s ease-in .75s;
    }
}