.u-center-text{text-align: center !important};

.u-margin-top-big{ margin-top: 8rem !important};
.u-margin-top-medium{ margin-top: 4rem !important};
.u-margin-top-small{ margin-top: 1.5rem !important};

.u-margin-bottom-big{ margin-bottom: 8rem !important};
.u-margin-bottom-medium{ margin-bottom: 2.5rem !important};
.u-margin-bottom-small{ margin-bottom: 1.5rem !important};
.u-padding-default{ padding: $padding-default !important};

.u-padding-small {padding: 2rem !important};
.u-padding-medium {padding: 4rem !important};
.u-padding-big {padding: 8rem !important};

.u-padding-right-small{padding-right: 1.5rem !important};
.u-padding-right-medium{padding-right: 4rem !important};
.u-padding-right-big{padding-right: 8rem !important};


@media screen and (max-width: 991px) {
    .u-margin-bottom-big{ margin-bottom: 4rem !important};
    .u-margin-bottom-medium{ margin-bottom: 2rem !important};
    .u-margin-bottom-small{ margin-bottom: .5rem !important};

    .u-padding-default{ padding: $padding-default !important};

    .u-padding-small {padding: .5rem !important};
    .u-padding-medium {padding: 2rem !important};
    .u-padding-big {padding: 8rem !important};

    .u-padding-right-small{padding-right: .5rem !important};
    .u-padding-right-medium{padding-right: 2rem !important};
    .u-padding-right-big{padding-right: 4rem !important};

}